.projects_wrapper {
    display: grid;
    grid-template-columns: repeat(3, [col] calc(33% - 3px));
    margin: 8px;
    grid-gap: 9px;
}

.projects_title {
    font-size: 2em;
    font-weight: bold;
}

.projects_message {
    font-size: 1.5em;
}

.projects_icon {
    font-size: 3em;
}

.projects_page>p {
    text-align: center;
}

@media (max-width: 750px) {
    .projects_wrapper {
        grid-template-columns: repeat(2, [col] calc(50% - 4px));
        grid-gap: 8px;
    }
}

@media (max-width: 425px) {
    .projects_wrapper {
        grid-template-columns: 100%;
    }
}

@media (min-width: 1000px) {
    .projects_wrapper {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}