.home_wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 320px calc(100% - 320px);
    grid-template-rows: repeat(1, [row] auto);
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

.home_wrapper>div {
    align-self: center;
}

.home_image,
.home_information {
    grid-row: row;

}

.home_image {
    grid-column: 1;
}

.home_information {
    grid-column: 2;
}

.home_avatar {
    border-radius: 50%;
    width: 300px;
}

.downloadButton {
    display: inline-block;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid #333;
    color: white;
    background-color: black;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: white;
    color: black;
}

@media (max-width: 750px) {

    .home_wrapper {
        grid-template-columns: 90%;
    }

    .home_image,
    .home_information {
        grid-column: 1;
    }

    .home_image {
        grid-row: 1;
    }

    .home_information {
        grid-row: 2;
    }
    .home_avatar {
        width: 200px;
    }
}

@media (min-width: 1000px) {
    .home_wrapper {
        grid-template-columns: 320px 600px;
    }

}